@using NEXARC.MultiTenancy.Dto
@using NEXARC.Web.Models.Common.Modals
@model TenantDto
@{
    Layout = null;
}

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditTenant")))
<form name="TenantEditForm" role="form" novalidate class="form-horizontal form-validation">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="modal-body">
        <div class="form-group required">
            <div class="col-md-3">
                <label class="control-label">@L("TenancyName")</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" name="TenancyName" value="@Model.TenancyName" required maxlength="64" minlength="2">
            </div>
        </div>
        <div class="form-group required">
            <div class="col-md-3">
                <label class="control-label">@L("Name")</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" name="Name" value="@Model.Name" required maxlength="128">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">@L("IsActive")</label>
            </div>
            <div class="col-md-9">
                <input type="checkbox" name="IsActive" value="true" @(Model.IsActive ? "checked" : "") />
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Tenants/_EditTenantModal.js" asp-append-version="true"></script>
