@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using NEXARC.MultiTenancy
@using NEXARC.Web.Models.Common.Modals
@using NEXARC.Web.Startup
@model Abp.Application.Services.Dto.PagedResultDto<NEXARC.MultiTenancy.Dto.TenantDto>
@{
    ViewBag.Title = L("Tenants");
    ViewBag.CurrentPageName = PageNames.Tenants;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Tenants/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Tenants/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @L("Tenants")
    </h1>
    <div class="pull-right">
        <a href="#" data-toggle="modal" data-target="#TenantCreateModal" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @L("Create")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="scroll-wrapper">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 150px">@L("Actions")</th>
                                    <th>@L("TenancyName")</th>
                                    <th>@L("Name")</th>
                                    <th>@L("IsActive")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tenant in Model.Items)
                                {
                                    <tr>
                                        <td style="width: 150px">
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span>@L("Actions")</span>
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" class="edit-tenant" data-tenant-id="@tenant.Id" data-toggle="modal" data-target="#TenantEditModal">
                                                            <i class="fa fa-edit"></i>@L("Edit")
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="delete-tenant" data-tenant-id="@tenant.Id" data-tenancy-name="@tenant.TenancyName">
                                                            <i class="fa fa-trash"></i>@L("Delete")
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>@tenant.TenancyName</td>
                                        <td>@tenant.Name</td>
                                        <td>
                                            <input type="checkbox" disabled="disabled" @(tenant.IsActive ? Html.Raw("checked=\"checked\"") : null)>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TenantCreateModal" tabindex="-1" role="dialog" aria-labelledby="TenantCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewTenant")))
            <form name="TenantCreateForm" role="form" novalidate class="form-horizontal form-validation">
                <div class="modal-body">
                    <div class="form-group required">
                        <div class="col-md-3">
                            <label class="control-label">@L("TenancyName")</label>
                        </div>
                        <div class="col-md-9">
                            <input name="TenancyName" class="form-control" required maxlength="@AbpTenantBase.MaxTenancyNameLength" minlength="2">
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-md-3">
                            <label class="control-label">@L("Name")</label>
                        </div>
                        <div class="col-md-9">
                            <input name="Name" class="form-control" required maxlength="@Tenant.MaxNameLength">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>@L("DatabaseConnectionString") (@L("Optional"))</label>
                        </div>
                        <div class="col-md-9">
                            <input name="ConnectionString" class="form-control" maxlength="@AbpTenantBase.MaxConnectionStringLength">
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-md-3">
                            <label class="control-label">@L("AdminEmailAddress")</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" name="AdminEmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label">@L("IsActive")</label>
                        </div>
                        <div class="col-md-9">
                            <input type="checkbox" name="IsActive" value="true" checked />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <p>@L("DefaultPasswordIs", NEXARC.Authorization.Users.User.DefaultPassword)</p>
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="TenantEditModal" tabindex="-1" role="dialog" aria-labelledby="TenantEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
