@using Abp.Authorization.Users
@using NEXARC.Web.Models.Common.Modals
@model NEXARC.Web.Models.Users.EditUserModalViewModel
@{
    Layout = null;
}

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditUser")))
<form name="UserEditForm" role="form" novalidate class="form-horizontal form-validation go-bottom customform">
    <div class="modal-body">
        <input type="hidden" name="Id" value="@Model.User.Id" />
        <div class="block mb0">
            <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab_user_details" data-toggle="tab">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab_user_role" data-toggle="tab">User Role</a>
                </li>
            </ul>
            <div class="block-content tab-content">
                <div class="tab-pane active" id="tab_user_details" role="tabpanel">
                    <div class="form-group">
                        <label for="UserName">@L("UserName")</label>
                        <input required id="UserName" class="form-control form-control-sm"
                               name="UserName" placeholder="@L("UserName")"
                               value="@Model.User.UserName"
                               maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                    </div>
                    <div class="form-group">
                        <label for="Name">@L("Name")</label>
                        <input required id="Name" class="form-control form-control-sm"
                               name="Name" placeholder="@L("Name")" value="@Model.User.Name"
                               maxlength="@AbpUserBase.MaxNameLength">
                    </div>
                    <div class="form-group">
                        <label for="Surname">@L("Surname")</label>
                        <input required id="Surname" class="form-control form-control-sm"
                               name="Surname" placeholder="@L("Surname")" value="@Model.User.Surname"
                               maxlength="@AbpUserBase.MaxNameLength">
                    </div>
                    <div class="form-group">
                        <label for="EmailAddress">@L("EmailAddress")</label>
                        <input required id="EmailAddress" type="email" class="form-control"
                               name="EmailAddress" value="@Model.User.EmailAddress"
                               maxlength="@AbpUserBase.MaxEmailAddressLength">
                    </div>
                    <div class="form-group">
                        <label class="control-label">@L("IsActive")</label>
                        <input type="checkbox" name="IsActive" value="true" @(Model.User.IsActive ? "checked" : "") />
                    </div>
                </div>
                <div class="tab-pane" id="tab_user_role" role="tabpanel" >
                    <div class="form-group">
                        @foreach (var role in Model.Roles)
                        {
                            <div class="col-md-6">
                                <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in" id="@($"role{role.Id}")" @(Model.UserIsInRole(role) ? "checked" : "") />
                                <label for="@($"role{role.Id}")" title="@role.DisplayName">@role.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>


<script src="~/view-resources/Views/Users/_EditUserModal.js" asp-append-version="true"></script>
